@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-sm {
    @apply h-5 w-5;
  }
  .icon {
    @apply h-10 w-10;
  }
  .btn {
    @apply flex items-center justify-center px-2 py-3 rounded-lg gap-2;
  }
  .btn-outline {
    @apply btn border-2 border-rose-500 bg-white text-rose-500 hover:bg-rose-500 hover:text-white;
  }
  .btn-contained {
    @apply btn bg-rose-500 text-white;
  }
  .background {
    /* background-image: url("./resources/images/authbg.svg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
